<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h1><%= committee%></h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Ph. No</th>
                <th>Institute</th>
                <!-- <th>Preference1</th>
                <th>Preference2</th>
                <th>Preference3</th> -->
                <th>Experience</th>
                <th>Allotment</th>
            </tr>
        </thead>
        <% committeeList.forEach(function(records){%>
        <tr>
          <td><%= records.name %></td> 
          <td><%= records.email %></td> 
          <td><%= records.phoneNumber %></td> 
          <td><%= records.institute %></td> 
          <!-- <td><%= records.preference1 %></td> 
          <td><%= records.preference2 %></td> 
          <td><%= records.preference3 %></td>  -->
          <td><%= records.experience %></td> 
          <td><%= records.allotment %></td> 
        </tr>
        <% })%>
    </table>
</body>
</html>
