<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="top">
    <h1>Payment Details</h1>
    </div>
    <script src="../public/functions.js"></script>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Paid To</th>
                <th>Email</th>
                <th>Ph. No</th>
                <th>Institute</th>
                <th>Committee</th>
                <th>Portfolio</th>
                <th>Date</th>
                <th>Preference1</th>
                <th>Preference2</th>
                <th>Prefernce3</th>
            </tr>
        </thead>
        <% paymentList.forEach(function(payment){%>
        <tr>
          <td><%= payment.name %></td> 
          <td><%= payment.amount %></td> 
          <td><%= payment.paidto %></td>
          <td><%= payment.email %></td>
          <td><%= payment.phoneNumber %></td>
          <td><%= payment.institute %></td>
          <td><%= payment.committeeAlloted %></td>
          <td><%= payment.portfolioAlloted %></td>
          <td><%= payment.date %></td>
          <td><%= payment.preference1 %></td>
          <td><%= payment.preference2 %></td>
          <td><%= payment.preference3 %></td>
        </tr>
        <% })%>
    </table>
</body>
</html>

<style>
    #myButton{
        border-radius: 10px;
        background-color: rgb(65, 155, 65);
        color: white;
        border: none;
        padding: 2px;
        margin: 10px;
        width: 100px;

    } :hover{
        cursor: pointer;
    }
    .top{
        display: flex;
    }
</style>