<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <script src="../public/filter.js"></script>
    <script src="../public/loader.js"></script>
    <script src="../public/showfilter.js"></script>
    <script src="../public/name.js"></script>
</head>

<body>
    <div class="top">
        <h1>All Participants</h1>
        <button id="myButton">Payment Details</button>
        <script src="../public/paydet.js"></script>
        
    </div>
    <div class="body-wrapper">
        <div class="table-wrapper">
            <table id="emp-table">
                <thead>

                    <th col-index=1>Name
                       
                    </th>
                    <th col-index=2>Email</th>
                    <th col-index=3>Ph. No</th>
                    <th col-index=4>Institute
                        <select class="table-filter">
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index=5>Committee1
                        <select class="table-filter">
                            <option value="all"></option>
                        </select>
                    </th>
                    <th>Preference1</th>
                    <th col-index=6>Committee2
                        <select class="table-filter">
                            <option value="all"></option>
                        </select>
                    </th>
                    <th>Preference2</th>
                    <th col-index=7>Committee3
                        <select class="table-filter">
                            <option value="all"></option>
                        </select>
                    </th>
                    <th>Preference3</th>
                    <th col-index=8>Committee Alloted
                        <select class="table-filter">
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index=9>Experience

                    </th>
                    <th col-index=10>Allot Committee</th>
                    
                    <th col-index=11>Allot Portfolio
                       
                    </th>
                    <th col-index=12></th>
                    <th col-index=13>Status
                        <select class="table-filter">
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index=14></th>

                </thead>
                <tbody>
                    <% committeeList.forEach(function(records){%>
                        <tr>
                            <td>
                                <%= records.name %>
                            </td>
                            <td>
                                <%= records.email %>
                            </td>
                            <td>
                                <%= records.phoneNumber %>
                            </td>
                            <td>
                                <%= records.institute %>
                            </td>
                            <td>
                                <%= records.committee1 %>
                            </td>
                            <td>
                                <%= records.preference1 %>
                            </td>
                            <td>
                                <%= records.committee2 %>
                            </td>
                            <td>
                                <%= records.preference2 %>
                            </td>
                            <td>
                                <%= records.committee3 %>
                            </td>
                            <td>
                                <%= records.preference3 %>
                            </td>
                            <td>
                                <%= records.committeeAlloted %>
                            </td>
                            <td>
                                <%= records.experience %>
                            </td>

                            <% if(records.committeeAlloted != ''){%> 
                      <td>
                        <form action="/api/updatecommittee/<%= records.id %>" method="POST" class =""> 
                        <select name="committeeAlloted" id="committee">
                            <option value=""><%= records.committeeAlloted%></option>
                            <option value="AIPPM">AIPPM</option>
                            <option value="UNGA">UNGA</option>
                            <option value="UNSC">UNSC</option>
                            <option value="IP">IP</option>
                            </select> 
                            <button type="submit" id="save">Save</button>
                         </td> 
                      <%}%>
                      <% if(records.committeeAlloted == ''){%>
                        <form action="/api/updatecommittee/<%= records.id %>" method="POST" class =""> 
                        <td>
                                 <select name="committeeAlloted" id="committee">
                                 <option value="">Select</option>
                                 <option value="AIPPM">AIPPM</option>
                                 <option value="UNGA">UNGA</option>
                                 <option value="UNSC">UNSC</option>
                                 <option value="IP">IP</option>
                                 </select> 
                                 <button type="submit" id="save">Save</button>
                        </td>
                        </form>
                         
                      <%}%>  

                    
                        <td>
                            <!-- <form action="/api/updatecommittee/<%= records.id %>" method="POST">
                            <input type="text" value="<%= records.committeeAlloted %>" name="committeeAlloted" id="portfolioAlloted"/> 
                                            
                             <button type="submit" id="save">Save</button>                        
                          </td>
                        </form>  -->
                    <form action="/api/update/<%= records.id %>" method="POST">
                    <td>
                        <input type="text" value="<%= records.portfolioAlloted %>" name="portfolioAlloted" id="portfolioAlloted"/> 
                                        
                         <button type="submit" id="save">Save</button>                        
                      </td>
                    </form> 
                    <td>
                      <%= records.status %>
                    </td>
                      <td>
                      <% if(records.committeeAlloted != '' && records.Allotedmail != true){%> 
                        <form action="/api/allotmentmail/<%= records.id %>" method="POST">
                            <button id="Allotmentmail">Send Mail</button>
                        </form> 
                            <!-- <script src="../public/mail.js"></script> -->
                      <%}%>
                      <% if(records.committeeAlloted != '' && records.Allotedmail == true && records.paid != true){%>
                        <button id="Paymentmail">Update Payment</button>   
                           <!--<script src="../public/modal.js"></script>-->
                      <%}%>
                      <% if(records.committeeAlloted != '' && records.Allotedmail == true && records.paid == true){%> 
                           Done
                      <%}%>
                      </td>
                      <% if(true) { %>
                        <div id="myModal" class="modal">
                        <div class="modal-content">
                        <span class="close">&times;</span>
                        <form action="/api/payments/<%= records.id %>" method = "POST" class="login-form">
                        <div class="payment-form"> 
                            Name:
                        <input type="text"  name=  "name" required value=""/>
                            Amount:
                        <input type="number"  name=  "amount" required value="100" />
                            Paid To:
                        <input type="text" name= "paidto" id="">
                        <form action="/api/paymentmail/<%= records.id %>" method="POST">
                            <button id="Allotmentmail">Send Mail</button>
                        </form> 
                        <button class="saveBtn">save</button>
                     <% } %>
                  </div>
                  </form>  
              </div> 
                                                
              </div>
              
                      
                    </tr> 
                 <% })%> 
          </tbody>
        </table>
        <button id="btn">
            download CSV
        </button>
        <script src="../public/csv.js"></script>
    </div>
</body>

</html>
<style>
    h1 {
        margin-bottom: 10px;
    }

    #myButton {
        border-radius: 10px;
        background-color: rgb(65, 155, 65);
        color: white;
        border: none;
        padding: 2px;
        margin: 10px;
        width: 100px;

    }

    :hover {
        cursor: pointer;
    }

    #Allotmentmail {
        background-color: rgb(107, 107, 245);
        width: 120px;
        border-radius: 10px;
        color: white;
        border: none;
        padding: 5px;
        margin: 5px;
    }
    #Paymentmail {
        background-color: rgb(50, 212, 29);
        width: 120px;
        border-radius: 10px;
        color: white;
        border: none;
        padding: 5px;
        margin: 5px;
    }

    select {
        border-radius: 5px;
    }

    input {
        width: 120px;
    }

    .top {
        display: flex;
    }

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 20%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .payment-form {
        display: flex;
        flex-direction: column;
    }

    .saveBtn {
        width: 20%;
        border-radius: 10px;
        background-color: rgb(65, 155, 65);
        color: white;
        border: none;
        padding: 2px;
        height: 30px;
        margin: 10px;

    }
</style>