<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    
    <script src="../public/filter.js"></script>
    <script src="../public/loader.js"></script>
    <script src="../public/showfilter.js"></script>
   
    
  
</head>
<body>
    <div class="top">
        <h1>All Participants</h1>
        <button class="paydet">Payment Details</button>
    </div>
<div class="body-wrapper">
    <div class="table-wrapper">
        <table id="emp-table">
            <thead>
                
                    <th col-index = 1>Name
                        <select class="table-filter" >
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index = 2>Email</th>
                    <th col-index = 3>Ph. No</th>
                    <th col-index = 4>Institute
                        <select class="table-filter" >
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index = 5>Preference1
                        <select class="table-filter" >
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index = 6>Preference2
                        <select class="table-filter">
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index = 7>Preference3
                        <select class="table-filter" >
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index = 8>Experience</th>
                    <th col-index = 9>Committee
                        <!-- <select class="table-filter" >
                            <option value="all"></option>
                        </select> -->
                    </th>
                    <th>Portfolio</th>
                    <th></th>
                    <th></th>
                    <th>Paid</th>
                
            </thead>
            <tbody>
                <% committeeList.forEach(function(records){%>
                    <tr>
                      <td><%= records.name %></td> 
                      <td><%= records.email %></td> 
                      <td><%= records.phoneNumber %></td> 
                      <td><%= records.institute %></td> 
                      <td><%= records.preference1 %></td> 
                      <td><%= records.preference2 %></td> 
                      <td><%= records.preference3 %></td> 
                      <td><%= records.experience %></td>
                      <% if(records.committeeAlloted != ''){%> 
                      <td>
                        <select name="committee" id="committee">
                            <option value=""><%= records.committeeAlloted%></option>
                            <option value="AIPPM">AIPPM</option>
                            <option value="UNGA">UNGA</option>
                            <option value="UNSC">UNSC</option>
                            <option value="IP">IP</option>
                            </select>  </td> 
                      <%}%>
                      <% if(records.committeeAlloted == ''){%>
                        <td>
                                 <select name="committee" id="committee">
                                 <option value="">Select</option>
                                 <option value="AIPPM">AIPPM</option>
                                 <option value="UNGA">UNGA</option>
                                 <option value="UNSC">UNSC</option>
                                 <option value="IP">IP</option>
                                 </select> 
                        </td>
                      <%}%>
                      <td>
                          <input type="text"> 
                      </td>
                      <td>
                        <button class="">Save</button>
                      </td>
                    </form>
                      <td>
                      <% if( records.committeeAlloted != '' && records.paid == false){%> 
                        <button class="Paymentmail">Payment Mail</button>
                        <%}%>
                      <% if(records.paid == true){%> 
                            Payment Done
                      <%}%>
                     </td>
                     <td>
                        <input type="checkbox" id="paid" name="paid" value="true">
                     </td>
                    </tr>
                    <% })%>
         </tbody>
        </table>

    </div>


</div>

</body>
</html>
<style>
    h1{
        margin-bottom: 10px;
    }
    button{
        border-radius: 10px;
        background-color: rgb(65, 155, 65);
        color: white;
        border: none;
        padding: 6px;
        width: 50px;

    }
    .Paymentmail{
        background-color: rgb(107, 107, 245);
        width: 120px;
    }
    select{
        border-radius: 5px;
    }
    input{
        width: 120px;
    }
    .top{
        display: flex;
    }
    .paydet{
        width: 150px;
        margin: 20px;
    }
</style>
